$icon-colors: (
  project: #898989,
  esthetique: #35318f,
  fc: #0e6fa8,
  consulting: #456436,
  products: #805d27,
  ec: #835b84,
  bio: #bb5a41,
  overseas: #df6a70,
);

%page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 180px;

  @media screen and (min-width: 768px) {
    height: 320px;
  }

  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: cover;
  }
}

%section-header {
  color: #949494;
  text-align: center;
  letter-spacing: .2em;
  font-weight: 600;

  p {
    font-size: 2rem;
    line-height: 1;

    @media screen and (min-width: 768px) {
      font-size: 2.6rem;
    }
  }

  h2,
  h3 {
    margin-top: 18px;
    font-size: 1.4rem;
  }
}

.section-profile {
  @each $key, $color in $icon-colors {
    .#{$key} {
      @if $key == 'project' {
        border-top-width: 0;
      }

      @else if $key == 'products' {
        h4 {
          color: $color;
          font-size: 1.6rem;

          @media (min-width: 768px) {
            font-size: 1.8rem;
          }
        }

        section {
          padding: 20px 0;

          @media (min-width: 768px) {
            &:not(:first-of-type) {
              border-top: 1px dotted #888;
            }
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      @else if $key == 'beauty' {
        padding-top: 0;
        border-top: 0;
      }

      h3 {
        width: 100%;
        border-bottom-color: $color;
        color: $color;

        &::before {
          background: url("./images/pages/common/icon_#{$key}.svg") left 0 bottom 0 no-repeat;
          background-size: contain;
        }
      }
    }
  }

  width: 100%;

  .flex-column {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .half-column {
    max-width: 580px;
    width: 100%;

    @media (min-width: 768px) {
      margin: -20px 20px 0;
    }
  }

  figure {
    margin-top: 30px;

    @media (min-width: 768px) {
      margin: 50px 20px 0;
    }
  }

  section {
    padding: 20px 0;

    @media (max-width: 768px) {
      border-top: 1px dotted #888;
    }
  }

  header {
    @extend %section-header;

    margin-bottom: 35px;

    @media (min-width: 768px) {
      margin-bottom: 55px;
    }

    p:first-of-type {
      margin-top: 0;
    }
  }

  h3 {
    padding-bottom: 3px;
    font: {
      size: 1.6rem;
      weight: 600;
    }

    @media (min-width: 768px) {
      font-size: 1.9rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.2rem;
    }

    border-bottom: {
      width: 1px;
      style: solid;
    }

    &::before {
      display: inline-block;
      margin-bottom: -6px;
      width: 55px;
      height: 35px;
      content: "";

      @media (min-width: 768px) {
        width: 65px;
        height: 44px;
      }
    }
  }

  p {
    margin-top: .5em;
    font-size: 1.4rem;
    line-height: 1.5;

    &:first-of-type {
      margin-top: 1em;
    }
  }

  .table {
    padding: 1em 0;
    border-bottom: 1px dotted #888;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom-width: 0;
    }
  }

  th,
  td {
    font-size: 1.2rem;
    line-height: 1.5;

    @media (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  th {
    padding-right: 1em;
    min-width: 7em;

    &::before {
      content: "■";
    }
  }
}
