@import "common";

.header {
  @extend %page-header;

  background-image: url("images/pages/contact/bg_header.jpg");
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 3vw;
}

.section-form {
  padding: 50px 0;
  max-width: 580px;
  width: 100%;
  font-size: 1.4rem;
  line-height: 1.75;

  @media (min-width: 768px) {
    margin: 0 20px;
  }

  header {
    @extend %section-header;

    margin-bottom: 55px;
  }
}

.section-privacy {
  @extend .section-form;

  @media (max-width: 768px) {
    border-top: 1px dotted #888;
  }

  header {
    @extend %section-header;

    margin-bottom: 55px;
  }

  section {
    margin-top: 1.75em;
  }

  h3 {
    font: {
      size: 1.6rem;
      weight: 600;
    }
  }

  ul {
    margin-top: 1.75em;
  }

  li {
    &::before {
      content: "・";
    }
  }
}

.section-profile {
  padding-top: 50px;
  border-top: 1px dotted #888;

  @media (min-width: 768px) {
    padding-top: 20px;
    border-top-width: 0;
  }
}
