%list-delay {
  @media screen and (min-width: 768px) {
    @for $i from 1 through 10 {
      $time: (100ms * $i);

      &:nth-child(#{$i}) {
        transition-delay: $time;
      }
    }
  }
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: none;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.main-visual {
  position: relative;
  margin-top: 66px;
  height: 180px;
  background: url("./images/pages/front-page/img_main.png") right 0 bottom 0 no-repeat, url("./images/pages/front-page/bg_main@sp.png") 50% 50% no-repeat;
  background-size: contain, cover;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    height: 590px;
    background: url("./images/pages/front-page/img_main.png") right 0 bottom 0 no-repeat;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 20em;
    color: #272727;
    text-align: center;
    letter-spacing: .8em;
    font-size: 10px;
    line-height: 2.9;
    transform: translate(-75%, -50%);

    @media (min-width: 1024px) {
      font-size: 22px;
    }
  }
}

.section {
  margin-top: 36px;

  @media (min-width: 768px) {
    margin-top: 55px;
  }

  @media (min-width: 1024px) {
    margin-top: 70px;
  }

  header {
    color: #717171;
    text-align: center;

    h2 {
      font-size: 2.1rem;

      @media (min-width: 768px) {
        font-size: 2.6rem;
      }
    }

    p {
      margin-top: .8em;
      font-size: 1.4rem;
    }
  }
}

.sec-project {

  $project-color-maps:
    #35318f,
    #0e6fa8,
    #456436,
    #805d27,
    #835b84,
    #bb5a41,
    #df6a70;

  @extend .section;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;
    max-width: 1440px;
  }

  li {
    @extend %list-delay;

    @each $project-color-map in $project-color-maps {
      $key: index($project-color-maps, $project-color-map);

      &:nth-child(#{$key}) {
        a {
          border-color: $project-color-map;
          color: $project-color-map;
        }
      }
    }

    margin: 7.5px;
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 137px;
    height: 137px;
    border: 3px solid #000;
    border-radius: 100%;
    transition: all 1s ease;

    @media (min-width: 1024px) {
      margin: 20px;
      width: 236px;
      height: 236px;
      border-width: 4px;
    }

    @media (min-width: 1024px) {
      margin: 20px;
      width: 236px;
      height: 236px;
      border-width: 5px;
    }

    p {
      position: absolute;
      top: 0;
      left: .2em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
      letter-spacing: .4em;
      line-height: 1.7;
      opacity: 0;
      transition: all 1s ease;

      @media (min-width: 1024px) {
        font-size: 2rem;
      }
      font: {
        size: 1.4rem;
        weight: 600;
      }
    }

    img {
      transition: all 1s ease;
    }

    &:hover {
      p {
        opacity: 1;
      }

      img {
        opacity: .15;
      }
    }

    img {
      width: 60%;

      @media (min-width: 1024px) {
        width: auto;
      }
    }
  }
}

.sec-people {
  @extend .section;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto 0;
    max-width: 1440px;

    @media (min-width: 1024px) {
      margin-top: 30px;
    }
  }

  li {
    @extend %list-delay;

    margin: 7.5px;

    @media (min-width: 1024px) {
      margin: 12px;
    }
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 145px;
    border-radius: 100%;
    background-color: #eef3f7;
    color: #5f6163;

    @media (min-width: 1024px) {
      width: 180px;
      height: 180px;
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: .4em;
      width: 100%;
      height: 100%;
      text-align: center;
      letter-spacing: .4em;
      opacity: 0;
      transition: all 1s ease;

      @media (min-width: 1024px) {
        font-size: 2rem;
      }
      font: {
        size: 1.4rem;
        weight: 600;
      }
    }

    img {
      transition: all 1s ease;
    }

    &:hover {
      p {
        opacity: 1;
      }

      img {
        opacity: .15;
      }
    }
  }
}

.sec-topics {
  @extend .section;

  .bx-wrapper {
    margin: 28px auto;
    max-width: 100% !important;

    @media (min-width: 768px) {
      margin-top: 35px;
    }

    @media (min-width: 1024px) {
      margin-top: 45px;
    }
  }

  li {
    img {
      width: 100%;
    }
  }
}

.sec-new {
  @extend .section;

  overflow-x: hidden;

  ul {
    margin: 30px auto 25px;
    padding: 0 1.5vw;
    max-width: 1200px;
  }

  li {
    padding: 0 1.5vw;

    @media (min-width: 1024px) {
      padding: 0 7.5px;
    }
  }

  a {
    text-decoration: none;

    .sec-new-post {
      transition: all .2s;
    }

    &:hover {
      .sec-new-post {
        opacity: .7;
        transform: scale(1.05);
      }
    }
  }

  &-post {
    color: #6d6d6d;
    font-size: 1.4rem;
    line-height: 1.5;

    &-link {
      display: block;
    }

    header {
      margin: 10px 0 5px;

      h3,
      p {
        margin: 0;
        text-align: left;
      }

      h3 {
        display: block;
        margin-top: .5em;
        font-weight: 600;
        line-height: 1.2;
      }

      p {
        font-size: .9em;
      }
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0;
    width: 196px;
    height: 32px;
    border: 1px solid #666;
    border-radius: 18.5px;
  }
}

.sec-brand {
  @extend .section;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    max-width: 1200px;

    @media (min-width: 1024px) {
      margin: 50px auto;
    }
  }

  li {
    margin: 15px;
    max-width: 30%;
    text-align: center;

    @media (min-width: 768px) {
      margin: 30px;
      width: auto;
    }
  }

  a {
    position: relative;
    display: block;
    color: #002280;

    p {
      position: absolute;
      top: -20px;
      left: -20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: .02em;
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      text-align: center;
      letter-spacing: .02em;
      line-height: 1.3;
      opacity: 0;
      transition: all 1s ease;

      @media (min-width: 1024px) {
        top: -50px;
        left: -50px;
        width: calc(100% + 100px);
        height: calc(100% + 100px);
        font-size: 1.6rem;
      }
      font: {
        size: 1.2rem;
        weight: 600;
      }
    }

    img {
      opacity: 1;
      transition: all 1s ease;
    }

    &:hover {
      p {
        opacity: 1;
      }

      img {
        opacity: .15;
      }
    }
  }
}

.sec-associate {
  @extend .sec-brand;

  .logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    padding: 0 3vw;

    @media (min-width: 768px) {
      margin-top: 55px;
    }

    a {
      max-width: 528px;
      width: 100%;
    }
  }
}
