@import "common";

.header {
  @extend %page-header;

  background-image: url("images/pages/recruit/bg_header.jpg");
}

.section-recruit {
  margin: 0 3vw;
  padding: 40px 0 48px;
  max-width: 1140px;

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1024px) {
    padding: 80px 0;
  }

  @media screen and (min-width: 1200px) {
    margin: 0 auto;
  }

  &:not(:first-of-type) {
    border-top: 1px dotted #888;
  }

  header {
    @extend %section-header;

    p {
      margin-top: 0;
    }

    &::after {
      display: inline-block;
      margin-top: 10px;
      content: url("./images/pages/recruit/img_recruit001.png");
    }
  }

  p {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .table-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 1024px) {
      justify-content: space-between;
      margin: 0 auto;
      padding: 30px;
      max-width: 1200px;
    }
  }

  table {
    margin-top: 47px;
    width: 100%;

    @media screen and (min-width: 1024px) {
      max-width: 530px;
      width: 48%;
    }
  }

  caption {
    margin: 0 -10px;
    padding: 8px;
    background-color: #333;
    color: #fff;
    font-size: 1.4rem;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  th,
  td {
    display: block;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5;

    @media screen and (min-width: 768px) {
      display: table-cell;
    }
  }

  th {
    padding-top: 1rem;
    min-width: 10em;

    @media screen and (min-width: 768px) {
      padding-right: 1.5em;
      text-align: right;
    }

    &::before {
      content: "【";
    }

    &::after {
      content: "】";
    }
  }
}

.section-recruit-bottom {
  @extend .section-recruit;

  header {
    &::after {
      content: "";
    }
  }

  .staff,
  .seminar {
    text-align: center;

    &::before {
      content: url("./images/pages/recruit/img_recruit002.png");
    }
  }

  .seminar {
    margin-top: 35px;
  }

  p {
    line-height: 2;

    &.title {
      margin: 10px -10px 0;
      padding: 1px;
      background-color: #333;
      color: #fff;
      font-size: 1.4rem;

      @media screen and (min-width: 768px) {
        margin: 10px auto 0;
        max-width: 520px;
      }
    }
  }

  p + p {
    margin-top: 2em;

    a {
      &::before {
        content: "＞  ";
      }

      &::after {
        content: "  ＜";
      }
    }
  }
}
