.aligncenter {
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}

.alignleft {
  float: left;
  padding: 1em 1em 1em 0;
}

.alignright {
  float: right;
  padding: 1em 0 1em 1em;
}

.pagination {
  padding: 40px 0;

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0 5px;

    a,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 1px solid #ccc;
      border-radius: 100%;
      font-size: 1.2rem;

      &.current {
        border-width: 0;
        background-color: #333;
        color: #ccc;
      }

      &.next,
      &.prev {
        border-width: 0;
      }
    }

    a {
      &:hover {
        opacity: .7;
      }
    }
  }
}

.post-wrap,
.single-wrap {
  margin: 50px auto;
  padding: 0 1em;
  max-width: 768px;
  font-size: 1.4rem;
  line-height: 1.65;

  @media (min-width: 768px) {
    font-size: 1.6rem;
    margin: 70px auto;
  }

  .post {
    padding: 50px 0;
    border-bottom: 1px solid #ccc;
  }

  header {
    margin-bottom: 40px;

    h1 {
      padding: 0.4em 0;
      word-wrap: break-word;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.2;

      @media (min-width: 768px) {
        font-size: 3rem;
      }

      font: {
        weight: bold;
        size: 2.4rem;
      }
    }

    p {
      text-align: right;
      font-size: 1.2rem;
    }
  }

  p {
    &:not(:first-of-type) {
      margin-top: 2.2em;
    }
  }

  h2,
  h3,
  h4 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1.1em;
  }
}

.btn-more {
  margin-top: 30px;
  padding: .5em 2em;
  border: 1px solid #ccc;
  border-radius: 3px;

  &:hover {
    opacity: .7;
  }

  &-wrap {
    display: flex;
    justify-content: center;
  }
}
