* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  color: #3e3e3e;
  letter-spacing: 0.02em;

  font: {
    family: -apple-system,'BlinkMacSystemFont','Segoe UI','Avenir','Helvetica Neue','Helvetica','Arial',"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    weight: 400;
    feature-settings: 'palt' 1;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: bold;
}

.visible-sp {
  @media (min-width: 768px) {
    display: none;
  }
}

.hover-effect {
  transition: opacity .2s ease;

  &:hover {
    opacity: .5;
  }
}

th {
  text-align: left;
}

.btn-top {
  position: fixed;
  right: 3vw;
  bottom: 3vw;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #aaa;

  @media (min-width: 1024px) {
    width: 70px;
    height: 70px;
  }

  &::before {
    position: absolute;
    top: 42%;
    left: 34%;
    display: block;
    width: 30%;
    height: 30%;
    border: 2px solid #fff;
    border-right-width: 0;
    border-bottom-width: 0;
    content: "";
    transform: rotate(45deg);
  }
}

.global-header {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 18px 3vw;
  max-width: 1260px;
  width: 100%;

  @media (min-width: 768px) {
    padding: {
      right: 30px;
      left: 30px;
    }
  }

  .logo {
    display: block;
    max-width: 227px;
    width: 55vw;

    img {
      width: 100%;
    }
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    transition: all .4s;
  }

  .menu-trigger {
    position: relative;
    width: 32px;
    height: 26px;

    @media (min-width: 1140px) {
      display: none;
    }
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
    background-color: #2354a4;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 11px;
    background-color: #2fa5df;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
    background-color: #a6f5fe;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-315deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(315deg);
  }

  .global-navigation {
    position: absolute;
    top: 66px;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    background-color: rgba(#c6faff, .85);

    @media (min-width: 1140px) {
      position: relative;
      top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 15px;
      width: auto;
      background-color: transparent;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .main-menu {
    font-size: 1.4rem;

    @media (min-width: 1140px) {
      display: flex;
    }

    > li {
      position: relative;

      @media (min-width: 1140px) {
        background-color: transparent;

        &:not(:first-child) {
          border-left: 1px solid #aaa;
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }

      a {
        position: relative;
        display: block;
        padding: 1em;
        border-top: 1px solid #aaa;

        @media (min-width: 1140px) {
          padding: 0 1.5em;
          border-top-width: 0;
        }
      }
    }

    > li:not(:nth-child(4)) a {
      @media (min-width: 1140px) {
        &::after {
          position: absolute;
          top: 20px;
          left: 15%;
          display: block;
          width: 0;
          height: 2px;
          background: linear-gradient(to right, #6dc6cd 0%, #2151a2 100%);
          content: "";
          transition: all .4s ease;
        }

        &:hover {
          &::after {
            width: 70%;
          }
        }
      }
    }

    > li:last-child a:hover::after {
      @media (min-width: 1140px) {
        width: 92.5%;
      }
    }
  }

  .sub-trigger {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 0;
    width: 43px;
    height: 43px;
    outline: none;
    border: none;
    background-color: $black-color;
    color: #fff;
    appearance: none;

    @media (min-width: 1140px) {
      display: none;
    }

    span {
      position: absolute;
      top: 20px;
      left: 10px;
      display: block;
      width: 25px;
      height: 2px;
      background-color: #fff;

      &:last-child {
        position: absolute;
        top: 20px;
        left: 10px;
        transition: transform .5s ease;
        transform: rotate(90deg);
      }
    }

    &.active {
      span {
        transform: none;
      }
    }
  }

  .sub-menu {
    display: none;
    background-color: #fff;
    font-size: 1.2rem;

    @media (min-width: 1140px) {
      position: absolute;
      top: 1.4rem;
      left: 0;
      padding-top: 20px;
      width: 200px;
      background-color: transparent;

      > li {
        a {
          display: block;
          padding: 1em;
          background-color: rgba(#2151a2, .75);
          color: #fff;
          font-size: 1.4rem;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }

  .lang-menu {
    display: flex;
    border: 1px solid #aaa;
    border-left-width: 0;
    border-right-width: 0;
    font-size: 1.3rem;

    @media (min-width: 1140px) {
      justify-content: flex-end;
      border-width: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 1.5rem;
      color: #8f8f8f;

      @media (min-width: 1140px) {
        margin-top: 20px;
        padding: 0 .5rem;
        transition: all ease .2s;

        &:last-child {
          padding-right: 0;
        }
      }

      &:hover,
      &.active {
        color: #2b2b2b;
      }

      &::before {
        margin-right: 5px;
        vertical-align: -.4em;
        font-size: 8px;
      }

      &:nth-child(1) {
        &::before {
          content: url("./images/common/icon_header_lang_ja.svg");
        }

        &:hover,
        &.active {
          &::before {
            content: url("./images/common/icon_header_lang_ja_active.svg");
          }
        }
      }

      &:nth-child(2) {
        &::before {
          content: url("./images/common/icon_header_lang_ch.svg");
        }

        &:hover,
        &.active {
          &::before {
            content: url("./images/common/icon_header_lang_ch_active.svg");
          }
        }
      }

      &:nth-child(3) {
        &::before {
          content: url("./images/common/icon_header_lang_en.png");
        }
      }
    }
  }
}

.global-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
  padding: 27px 0 0;
  background-color: #eef3f7;

  @media (min-width: 768px) {
    margin-top: 80px;
  }

  @media (min-width: 1024px) {
    margin-top: 130px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;

    @media (min-width: 1024px) {
      justify-content: space-between;
    }
  }

  li {
    padding: 17.5px 10px;
    max-width: 340px;
    width: 100%;
    text-align: center;
  }

  .ttl {
    display: inline-block;
    letter-spacing: .5em;
    font: {
      size: 1.75rem;
      weight: 600;
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    vertical-align: -.4em;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
    }

    &::before {
      display: block;
      margin: 0 6px 0 3px;
      width: 17px;
      height: 28px;
      background: url("./images/common/icon_tap.png") no-repeat;
      background-size: contain;
      content: "";
    }
  }

  .inner-content {
    display: none;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.45;

    p {
      padding-top: 1em;

      &:not(:first-child) {
        margin-top: 1em;
        border-top: 1px solid #ccc;
      }
    }
  }

  .googlemap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .google-map {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;

    img {
      max-width: inherit !important;
    }
  }

  .copyright {
    margin-top: 27px;
    padding: 1em 0;
    width: 100%;
    background-color: #fff;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.4rem;
    }
  }
}
