* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  color: #3e3e3e;
  letter-spacing: 0.02em;

  font: {
    family: -apple-system,'BlinkMacSystemFont','Segoe UI','Avenir','Helvetica Neue','Helvetica','Arial',"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    weight: 400;
    feature-settings: 'palt' 1;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: bold;
}

.hover-effect {
  transition: opacity .2s ease;

  &:hover {
    opacity: .5;
  }
}

th {
  text-align: left;
}

.global-header {
  position: relative;
  z-index: 1000;
  margin: 0 auto;
  padding: 18px 3vw;
  max-width: 1260px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include media(sm) {
    padding: {
      left: 30px;
      right: 30px;
    }
  }

  .logo {
    width: 55vw;
    max-width: 227px;
  }

  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }

  .menu-trigger {
    position: relative;
    width: 32px;
    height: 26px;

    @include media(lg) {
      display: none;
    }
  }

  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
  }

  .menu-trigger span:nth-of-type(1) {
    background-color: #2354a4;
    top: 0;
  }

  .menu-trigger span:nth-of-type(2) {
    background-color: #2fa5df;
    top: 11px;
  }

  .menu-trigger span:nth-of-type(3) {
    background-color: #a6f5fe;
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(20px) rotate(-315deg);
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-20px) rotate(315deg);
  }

  .global-navigation {
    display: none;
    position: absolute;
    left: 0;
    top: 69px;
    z-index: 1000;
    width: 100%;
    background-color: #fff;

    @include media(lg) {
      position: relative;
      top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 15px;
      width: auto;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .main-menu {
    font-size: 1.4rem;

    @include media(lg) {
      display: flex;
    }

    > li {
      position: relative;
      background-color: #c6faff;

      @include media(lg) {
        background-color: transparent;

        &:not(:first-child) {
          border-left: 1px solid #aaa;
        }

        &:last-child {
          a {
            padding-right: 0;
          }
        }
      }

      a {
        position: relative;
        display: block;
        padding: 1em;
        border-top: 1px solid #aaa;

        @include media(lg) {
          padding: 0 1.5em;
          border-top-width: 0;
        }
      }
    }

    > li:not(:nth-child(4)) a {
      @include media(lg) {
        &::after {
          position: absolute;
          top: 20px;
          left: 15%;
          display: block;
          width: 0;
          height: 2px;
          background: linear-gradient(to right, #6dc6cd 0%, #2151a2 100%);
          content: "";
          transition: all .4s ease;
        }

        &:hover {
          &::after {
            width: 70%;
          }
        }
      }
    }

    > li:last-child a:hover::after {
      @include media(lg) {
        width: 92.5%;
      }
    }
  }

  .sub-trigger {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 0;
    width: 43px;
    height: 43px;
    border: none;
    background-color: $black-color;
    color: #fff;
    appearance: none;
    outline: none;

    @include media(lg) {
      display: none;
    }

    span {
      position: absolute;
      display: block;
      background-color: #fff;
      width: 25px;
      height: 2px;
      left: 10px;
      top: 20px;

      &:last-child {
        position: absolute;
        left: 10px;
        top: 20px;
        transform: rotate(90deg);
        transition: transform .5s ease;
      }
    }

    &.active {
      span {
        transform: none;
      }
    }
  }

  .sub-menu {
    display: none;
    font-size: 1.2rem;
    background-color: #fff;

    @include media(lg) {
      position: absolute;
      top: 1.4rem;
      left: 0;
      width: 200px;
      padding-top: 20px;

      > li {
        a {
          display: block;
          padding: 1em;
          background-color: #2151a2;
          color: #fff;
          font-size: 1.4rem;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }

  .lang-menu {
    display: flex;
    border-top: 1px solid #aaa;
    font-size: 1.3rem;

    @include media(lg) {
      justify-content: flex-end;
      border-top-width: 0;
    }

    li {
      display: flex;
      align-items: center;
      padding: 1.5rem;
      color: #8f8f8f;

      @include media(lg) {
        margin-top: 20px;
        padding: 0 .5rem;
        transition: all ease .2s;

        &:last-child {
          padding-right: 0;
        }
      }

      &:hover,
      &.active {
        color: #2b2b2b;
      }

      &::before {
        margin-right: 5px;
        font-size: 8px;
        vertical-align: -.4em;
      }

      &:nth-child(1) {
        &::before {
          content: url("./images/common/icon_header_lang_ja.svg");
        }

        &:hover,
        &.active {
          &::before {
            content: url("./images/common/icon_header_lang_ja_active.svg");
          }
        }
      }

      &:nth-child(2) {
        &::before {
          content: url("./images/common/icon_header_lang_ch.svg");
        }

        &:hover,
        &.active {
          &::before {
            content: url("./images/common/icon_header_lang_ch_active.svg");
          }
        }
      }

      &:nth-child(3) {
        &::before {
          content: url("./images/common/icon_header_lang_en.png");
        }
      }
    }
  }
}

.global-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 43px;
  padding: 27px 0 0;
  background-color: #eef3f7;

  @include media(sm) {
    margin-top: 80px;
  }

  @include media(md) {
    margin-top: 130px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;

    @include media(md) {
      justify-content: space-between;
    }
  }

  li {
    padding: 17.5px 10px;
    width: 100%;
    max-width: 340px;
    text-align: center;
  }

  .ttl {
    display: inline-block;
    letter-spacing: .5em;
    font: {
      size: 1.75rem;
      weight: 600;
    }
  }

  .btn {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    vertical-align: -.4em;

    &:hover {
      cursor: pointer;
    }

    &::before {
      margin: 0 6px 0 3px;
      content: url("./images/common/icon-tap.png");
      content: image-set(url("./images/common/icon-tap.png") 1x, url("./images/common/icon-tap@2x.png") 2x);
    }
  }

  .inner-content {
    display: none;
    font-size: 1.4rem;
    line-height: 1.45;
    text-align: left;

    p {
      padding-top: 1em;

      &:not(:first-child) {
        margin-top: 1em;
        border-top: 1px solid #ccc;
      }
    }
  }

  .googlemap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .copyright {
    margin-top: 27px;
    padding: 1em 0;
    width: 100%;
    text-align: center;
    background-color: #fff;

    @include media(sm) {
      font-size: 1.2rem;
    }

    @include media(md) {
      font-size: 1.4rem;
    }
  }
}
