$black-color: #221815;
$border-color: #f3f3f3;

$breakpoints: (
  'xs': 'screen and (min-width: 375px)',
  'sm': 'screen and (min-width: 768px)',
  'md': 'screen and (min-width: 1000px)',
  'lg': 'screen and (min-width: 1140px)',
) !default;

@mixin media( $breakpoint: md ) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
